@model projektMVC.Models.UZView

@{
    ViewData["Title"] = "IndexWithStudents";
}

<h1>IndexWithStudents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.groups)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.groups) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
        </tr>

            @foreach (var student in Model.students.Where(s => s.GroupId == item.GrupaId))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => student.Nazwisko)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => student.Imie)
                    </td>

                </tr>
            }

            @foreach (var student in Model.students.Where(s => s.GroupId == item.GrupaId))
            {
                @await Component.InvokeAsync("StudentListView", student)
            }

        }
    </tbody>
</table>
